anytree==2.4.3
appdirs==1.4.3
application-utility==1.1.0.dev1
astroid==2.1.0
btrfsutil==1.0.0
CacheControl==0.12.5
catfish==1.4.6
certifi==2018.10.15
chardet==3.0.4
colorama==0.4.0
cupshelpers==1.0
distlib==0.2.8
distro==1.3.0
docopt==0.6.2
evdev==1.1.2
gufw==18.10.0
html5lib==1.0.1
idna==2.7
isort==4.3.4
Jade-Application-Kit==1.3.5
keyutils==0.5
lazy-object-proxy==1.3.1
lensfun==0.3.2
lightdm-gtk-greeter-settings==1.2.2
lockfile==0.12.2
louis==3.7.0
lutris==0.4.23
lxml==4.2.5
mccabe==0.6.1
menulibre==2.2.0
msgpack==0.5.6
mugshot==0.4.1
npyscreen==4.10.5
packaging==18.0
pacman-mirrors==4.14.0
pew==1.1.5
pexpect==4.6.0
Pillow==5.3.0
pipenv==2018.10.14.dev0
progress==1.4
psutil==5.4.7
ptyprocess==0.6.0
pycairo==1.17.0
pycups==1.9.74
pycurl==7.43.0.2
Pygments==2.2.0
PyGObject==3.30.2
pylint==2.2.2
pyparsing==2.3.0
PyQt5==5.11.3
PyQt5-sip==4.19.13
python-distutils-extra==2.39
pytoml==0.1.20
pyxdg==0.26
PyYAML==3.13
reportlab==3.5.9
requests==2.20.1
retrying==1.3.3
six==1.11.0
team==1.0
udiskie==1.7.5
ufw==0.35
urllib3==1.24.1
virtualenv==16.0.0
virtualenv-clone==0.3.0
webencodings==0.5.1
wrapt==1.10.11
